.header {
  background-color: #C34F4F;
  padding: 10px 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.header h1 {
  font-size: 25px;
  line-height: 30px;
  font-family: 'Noto Sans';
}

.header h2 {
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Noto Sans';
}