.content {
  margin: auto;
  max-width: 600px;
  padding: 30px 20px;
}

.content input[type="submit"] {
  appearance: none;
  border: none;
  background-color: #487D83;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  font-size: 18px;
  cursor: pointer;
}