.radiogroup legend {
  text-align: left;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.radiogroup li {
  display: inline-block;
}

.radiogroup ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.radiogroup p {
  margin-bottom: 30px;
}

.radiogroup label {
  margin-right: 5px;
  padding: 12px 20px;
  border-radius: 2px;
  border: 1px solid black;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.radiogroup input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.radiogroup input[type=radio]:hover + label {
  box-shadow: 0 0 0 1px black inset;
}

.radiogroup input[type=radio]:checked + label {
  background-color:  #487D83;
  border: 1px solid  #487D83;
  color: white;
}

.error {
  color:  #C34F4F;
  padding-top: 10px;
}